[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nltk = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
python-docx = "*"
requests = "*"
pattern3 = "*"
Django = "*"

[requires]
python_version = "3.6"
